.card1 {
    background: url(../imges/service/ads1.svg);
    position: relative;
}

.card2 {
    background: url(../imges/service/ads2.svg);
    position: relative;
}

.card3 {
    background: url(../imges/service/ads3.svg);
    position: relative;
}

.card4 {
    background: url(../imges/service/ads4.svg);
    position: relative;
}

.card5 {
    background: url(../imges/service/ads5.svg);
    position: relative;
}

.card6 {
    background: url(../imges/service/ads6.svg);
    position: relative;
}

.card7 {
    background: url(../imges/service/ads7.svg);
    position: relative;
}

.card8 {
    background: url(../imges/service/ads8.svg);
    position: relative;
}

.card9 {
    background: url(../imges/service/ads9.svg);
    position: relative;
}

.card10 {
    background: url(../imges/service/ads10.svg);
    position: relative;
}

.card11 {
    background: url(../imges/service/ads11.svg);
    position: relative;
}

.card12 {
    background: url(../imges/service/ads12.svg);
    position: relative;
}

.card13 {
    background: url(../imges/service/ads13.svg);
    position: relative;
}

.card14 {
    background: url(../imges/service/ads14.svg);
    position: relative;
}

.card15 {
    background: url(../imges/service/ads15.svg);
    position: relative;
}

.card16 {
    background: url(../imges/service/ads16.svg);
    position: relative;
}

.card17 {
    background: url(../imges/service/ads17.svg);
    position: relative;
}

.card18 {
    background: url(../imges/service/ads18.svg);
    position: relative;
}

.card19 {
    background: url(../imges/service/ads19.svg);
    position: relative;
}

.card20 {
    background: url(../imges/service/ads20.svg);
    position: relative;
}

.card21 {
    background: url(../imges/service/ads21.svg);
    position: relative;
}

.card22 {
    background: url(../imges/service/ads22.svg);
    position: relative;
}

.card23 {
    background: url(../imges/service/ads23.svg);
    position: relative;
}

.card24 {
    background: url(../imges/service/ads24.svg);
    position: relative;
}

.card25 {
    background: url(../imges/service/ads25.svg);
    position: relative;
}

.card26 {
    background: url(../imges/service/ads26.svg);
    position: relative;
}

.card27 {
    background: url(../imges/service/ads27.svg);
    position: relative;
}

.card28 {
    background: url(../imges/service/ads28.svg);
    position: relative;
}

.card29 {
    background: url(../imges/service/ads29.svg);
    position: relative;
}

.card30 {
    background: url(../imges/service/ads30.svg);
    position: relative;
}

.card31 {
    background: url(../imges/service/ads31.svg);
    position: relative;
}

.card32 {
    background: url(../imges/service/ads32.svg);
    position: relative;
}

.card33 {
    background: url(../imges/service/ads33.svg);
    position: relative;
}



.inner1 {
    background: rgba(235, 167, 7, 0.79);
    position: absolute;
}

.inner2 {
    background: rgba(45, 17, 10, 0.79);
    position: absolute;
}

.inner3 {
    background: rgba(62, 54, 36, 0.79);
    position: absolute;
}

.inner4 {
    background: rgba(0, 11, 48, 0.79);
    position: absolute;
}

.inner5 {
    background: rgba(80, 10, 10, 0.79);
    position: absolute;
}

.inner6 {
    background: rgba(20, 23, 51, 0.79);
    position: absolute;
}

.inner7 {
    background: rgba(0, 59, 78, 0.79);
    position: absolute;
}

.inner8 {
    background: rgba(22, 80, 76, 0.79);
    position: absolute;
}

.inner9 {
    background: rgba(0, 61, 152, 0.79);
    position: absolute;
}

.inner10 {
    background: rgba(0, 59, 78, 0.79);
    position: absolute;
}

.inner11 {
    background: rgba(120, 27, 14, 0.79);
    position: absolute;
}

.inner12 {
    background: rgba(49, 58, 134, 0.79);
    position: absolute;
}

.inner13 {
    background: rgba(57, 97, 100, 0.79);
    position: absolute;
}

.inner14 {
    background: rgba(64, 89, 11, 0.79);
    position: absolute;
}

.inner15 {
    background: rgba(41, 7, 137, 0.79);
    position: absolute;
}

.inner16 {
    background: rgba(55, 103, 63, 0.79);
    position: absolute;
}

.inner17 {
    background: rgba(0, 27, 78, 0.79);
    position: absolute;
}

.inner18 {
    background: rgba(118, 71, 0, 0.79);
    position: absolute;
}

.inner19 {
    background: rgba(0, 11, 48, 0.79);
    position: absolute;
}

.inner20 {
    background: rgba(80, 22, 22, 0.79);
    position: absolute;
}

.inner21 {
    background: rgba(95, 23, 152, 0.79);
    position: absolute;
}

.inner22 {
    background: rgba(55, 103, 63, 0.79);
    position: absolute;
}

.inner23 {
    background: rgba(45, 17, 10, 0.79);
    position: absolute;
}

.inner24 {
    background: rgba(0, 172, 216, 0.79);
    position: absolute;
}

.inner25 {
    background: rgba(130, 175, 0, 0.79);
    position: absolute;
}

.inner26 {
    background: rgba(0, 59, 78, 0.79);
    position: absolute;
}

.inner27 {
    background: rgba(80, 22, 22, 0.79);
    position: absolute;
}

.inner28 {
    background: rgba(50, 50, 51, 0.79);
    position: absolute;
}

.inner29 {
    background: rgba(99, 76, 59, 0.79);
    position: absolute;
}

.inner30 {
    background: rgba(80, 31, 220, 0.79);
    position: absolute;
}

.inner31 {
    background: rgba(220, 190, 31, 0.79);
    position: absolute;
}

.inner32 {
    background: rgba(55, 103, 63, 0.79);
    position: absolute;
}

.inner33 {
    background: rgba(37, 33, 48, 0.79);
    position: absolute;
}